* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* --- Navbar Section --- */
.navbar {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    background:#FFFFFF;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav-container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-links a {
    text-decoration: none;
    color: #000000;
    margin: 0 20px;
    gap: 32px;
}

.btn-green {
    background: #30B868;
    color: rgba(255, 255, 255, 1);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    gap: 10px;
}

/* --- Banner Section  --- */

.banner-section {
    position: relative;
    height: 700px;
    background: url('assets/hero-bg.png') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 80px;
}


.banner-content {
    position: relative;
    z-index: 2;
    max-width: 850px;
    padding: 0 20px;
}

.badge {
    background: rgba(255, 255, 255, 1);
    color: #30B868;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 8px 12px;
    border-radius: 1000px;
    gap: 6px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 25px;
}
.dot {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background:#30B868 ;
}

.banner-title {
    font-size: 52px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 20px;
}

.highlight {
    color: #56ab77;
}

.banner-subtitle {
    font-size: 18px;
    color: #d1d5db;
    line-height: 1.6;
    margin-bottom: 35px;
}

.banner-btns {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btn-1 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: #30B868; 
    color: rgba(255, 255, 255, 1);
    padding: 12px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.btn-2 {
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    padding: 12px 16px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
     font-size: 16px;
    font-weight: 600;
}

        /*  Card Section*/

.card-section {
    padding: 80px 20px;
    background-color: #fcfcfc;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.card-header h2 {
    font-size: 36px;
    color: #001931;
    margin-bottom: 15px;
    font-weight: 700;
}

.card-header p {
    color: #627382;
    font-size: 16px;
    margin-bottom: 50px;
}
.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; 
}

.card-container {
    background: rgba(255, 255, 255, 1);
    padding: 25px;
    border-radius: 12px;
    flex: 1;
    gap: 16px;
    min-width: 250px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    border: 1px solid #f1f5f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.card-container:hover {
    transform: translateY(-5px);
}
.card-box {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.red-bg {
    background-color: #ff5c5c;
}
.card-container h3 {
    font-size: 20px;
    color: #001931;
    margin-bottom: 15px;
    font-weight: 600;
}

.card-container p {
    font-size: 14px;
    color: #627382;
    line-height: 1.5;
}

    /*   Banner Section-2  */

.solution-section{
    padding: 100px 0;
    background-color: rgba(255, 255, 255, 1);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.solution-wrapper {
    display: flex;
    align-items: center;
    gap: 60px; 
}
.solution-visual {
    flex: 1;
    display: flex;
    justify-content: center;
}

.visual-card {
    background: #fcfcfc;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.062);
}
.visual-card img {
    max-width: 100%;
    height: auto;
}
.solution-content {
    flex: 1;
}

.sub-title {
    color: #4c8c64;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.main-title {
    font-size: 38px;
    color: #0f172a;
    margin: 15px 0;
    line-height: 1.2;
}

.description {
    color: #64748b;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.features-list {
    list-style: none;
}

.features-list li {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 15px;
    color: #334155;
    font-weight: 500;
    font-size: 15px;
}

.check-icon {
    background-color: #4ade80;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin-top: 3px;
}
/*   cta-section    */

.cta-section {
    padding: 80px 20px;
    background-color: #fff;
    text-align: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.cta-card {
    background-color: #f9f8f4;
    padding: 80px 40px;
    border-radius: 12px;
}

.cta-title {
    font-size: 42px;
    color: #0f172a; 
    font-weight: 700;
    margin-bottom: 20px;
}

.cta-text {
    font-size: 18px;
    color: #64748b; 
    line-height: 1.6;
    margin-bottom: 40px;
}
.btn-cta {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: #30B868; 
    color: white;
    padding: 16px 32px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(76, 140, 100, 0.2);
}
.btn-cta:hover {
    background-color: #3d7050;
}

.cta-note {
    margin-top: 25px;
    font-size: 14px;
    color: #94a3b8;
}
