* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* --- Navbar Section --- */
.navbar {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    background:#FFFFFF;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav-container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-links a {
    text-decoration: none;
    color: #000000;
    margin: 0 20px;
    gap: 32px;
}

.btn-green {
    background: #30B868;
    color: rgba(255, 255, 255, 1);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    gap: 10px;
}
